* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: none !important;
}


/* Header css strat*/
.navbar-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: #576F72 !important;
    color: white !important;
    text-shadow: none !important;
    position: fixed;
    width: 100%;
}

.check {
    display: flex;
    margin: 0 auto !important;
}

header a {
    color: white !important;
    text-decoration: none;
}

.menu-bg {
    background-color: #576F72 !important;
    margin-top: 47px !important;
    box-shadow: none !important;
    border-right: 1px solid #f4f4f4 !important;
    border-bottom: 1px solid #f4f4f4 !important;
}

.ui-listview>li>a.ui-btn {
    background-color: #576F72 !important;
    font-weight: normal !important;

}

.menu-bg ul li a {
    border: none !important;
    padding-left: 12px !important;
}
.menu-bg ul li a i{
    padding-right: 10px;
}

header .ui-btn-icon-right:after {
    display: none !important;

}
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay{
    margin-top: 60px !important;
    margin-left: 0 !important;
}


/* Header css end */


/* footer css design */

.ui-page-theme-a .ui-body-inherit{
    margin: 20px !important;
}


.footer-adjust {
    border: none !important;
    position: fixed !important;
}

.footer-adjust div {
    border: none !important;
}

.footer-adjust div ul {
    background-color: #576F72 !important;
}

.footer-adjust div ul a {
    color: white !important;
    background-color: #576F72 !important;
    border: none !important;
}
/* footer css end  */


/* Home page css */
.add-margin {
    margin-top: 44.33px;
}
.bg-main {
    background-image: url(img/main-bg.png);
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* align-items: center; */


}

.bg-main a {
    display: inline-block;
    width: 100px;
    padding: 8px;
    margin-top: 168px;
    margin-left: 30px;
    background-color: #7D9D9C !important;
    border: 1px solid #f4f4f4 !important;
    align-items: center;
    border-radius: 5px;
}
.bg-main a i{
    margin-left: 5px;
}

.bg-main  a {
    font-size: 12px;
    text-decoration: none;
    color: white !important;
    font-weight: 600 !important;
}

.main-paragraph {
    margin: 15px;
    text-align: center;
}

.main-paragraph p {
    margin-top: 10px;
}

.accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: #576F72;
    color: white;
}

.accordion-header i {
    margin-right: 5px;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #7D9D9C;
    max-height: 0;
    overflow: hidden;
    color: white;
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #f4f4f4;
}

.accordion-item.active .accordion-content {
    display: block;
    max-height: 500px;
}

.faqs-main h2 {
    text-align: center;
    margin: 20px;
}

.faqs-main {
    margin: 10px;
}

/* Home page css end */


/* team page css */
.card-slideshow {
    position: relative;
    overflow: hidden;
}

.card-add {
    display: none;
}

.card-add.active {
    display: block;
}

.card-add img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.card-content-t {
    padding: 20px;
    text-align: center;
}

.card-content-t h3 {
    margin-top: 0;
    color: #0070eb;
}

.card-content-t p {
    margin-top: 10px;
    margin-bottom: 0;
}

.prev-btn-n,
.next-btn-n {
    position: absolute !important;
    top: 30% !important;
    transform: translateY(-50%) !important;
    background: #576F72 !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 15px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    z-index: 1 !important;
    width: 30px !important;
    text-align: center !important;
}

.prev-btn-n {
    left: 10px;
}

.next-btn-n {
    right: 10px;

}


/* team page css end */

/* research css start */
.parent {
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 10px;
}

.child {
    flex: 1;
    text-align: center;
}

.child img {
    max-width: 100%;
    height: auto;
}

.child p {
    margin: 10px 5px;
}
.child h2{
    margin-top: 10px;
}
.research-heading {
    margin-top: 90px;
    text-align: center;
}

/* research css end */


/* register css start */

.contact-us-form .ui-btn {
    background-color: #576F72 !important;
    border: 1px solid #f4f4f4 !important;
    color: white !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    box-shadow: none !important;
    text-shadow: none !important;

}

.contact-us-form .ui-btn:hover{
    background-color: #7D9D9C !important;
    border: 1px solid #f4f4f4;
}

.contact-us-form input , textarea{
    border: 1px solid #576F72 !important;
    padding: 12px !important;
    box-shadow: none !important;
   }

   .contact-us-form textarea{
    min-height: 110px !important;
   }
.contact-us-form {
    margin-top: 20px !important;
    margin: 20px;
}

.contact-us-form .ui-field-contain {
    padding: 5px !important;
}

.contact-us-form .ui-input-text {
    background-color: #f9f9f9 !important;
}



.contact-us-form .ui-shadow-inset {
    box-shadow: none !important;
}

.contact-us-form .ui-field-contain {
    border: none !important;
}

.contact-us-form .ui-input-text {
    margin: 0 !important;
    width: 100% !important;
}

.contact-us-form .ui-select {
    width: 100% !important;
}
 .ui-mobile label {
    font-size: 20px;
    margin-left: 3px;
    padding-bottom: 5px !important;
}

/* register css end */


/* about us start */
    .about-us-align{
        text-align: center;
        margin: 10px;
    }
    .about-main-bg{
        background-image: url(img/about-us-main.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        object-fit: cover;
    }
    .about-us-align h2{
        margin-top: 20px;
    }
    .about-us-align p{
        margin-top: 10px;
    }
    .about-main-bg1{
        background-image: url(img/about-main-2.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        object-fit: cover;
    }
/* about us end */

/* faqs page strat */
.faqs-main-2 .h2{
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}
.faqs-main-2{

    margin: 20px;
}
.faqs-main-2 p{
    text-align: center;
}
.faqs-main-2 .h2-1{
    text-align: center;
    margin: 30px;
}
/* faqs page end */

/* program page start */
.last-page{
    margin: 80px 0px 50px 0px;
    text-align: center;
}

.ui-input-search:after{
    padding-left: 10px !important;
}
/* program page end */

